# Logs
logs
*.log

# Dependency directories
node_modules/

# Build files
dist/
build/
webpack.config.js

# Environment variables
.env

# Test files
tests/
express.server.js


# IDE files
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db