# Logs
logs
*.log

# Dependency directories
node_modules/

# Build files
dist/
build/

# Environment variables
.env

# Development testing environemnt
tests/
server.js

# IDE files
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db